<form method="post" action="{{ path('producto_delete', {'idproducto': producto.idproducto}) }}" onsubmit="return confirm('¿Está seguro que quiere borrar el producto?');">
    <input type="hidden" name="_method" value="Borrar">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producto.idproducto) }}">
    <button class="btn">Borrar</button>
</form>
