{% extends 'base.html.twig' %}

{% block title %}Nueva parte útil{% endblock %}

{% block body %}
    <h1>Crear nueva Parte útil</h1>

    {{ include('parteutil/_form.html.twig') }}

    <a href="{{ path('parteutil_index') }}">back to list</a>
{% endblock %}
