body
{
    margin: 0px;
}

/*#cabecera
{
    background-color: blue;
}*/

#cuerpo
{
    min-height: 400px;
}

/*#pie
{
    text-align: center;
    background-color: red;
    color: aliceblue;
}*/

#izquierdo
{
    float: left;
    width: 200px;
    margin-right:25px;
    /*background-color: red;*/
}

#cabeza, #pie {
    padding: 1rem;
    text-transform: uppercase;
    background-color: steelblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #cabeza a:link
  {
    text-decoration: none;
  }

#cabeza a
{
    color: white;
}

  header > * { padding: .5rem; }

  .logo img {
    display: block;
    max-width: 8rem;
    height: auto;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav li {
    padding: .5rem 0;
    text-align: center;
  }
  

  @media screen and (min-width: 64em) {
    header {
      padding: 3rem;
      flex-direction: row;
    }

    nav ul {
      flex-direction: row;
      justify-content: space-between;
    }

    nav li { padding: 0 1rem;  }
  }